header {
  /* color: #dcd5dc; */
  background-color: var(--color-header-background);
  /* border-radius: 10%; */
  /* border-bottom-left-radius: 10%; */
  /* border: 2px solid #8B0000; */
}

h1 {
  color: var(--color-header);
}

body {
  /* background-image: url('sky.jpeg');
  background-size: auto 100vh;
  background-attachment: fixed;
  background-repeat: repeat-x;
  background-position: center top; */
  background-image: var(--color-background);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-position: center; */
  /* background-color: #FFFAFA; */
  font-family: "Libre Baskerville", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

h2,
h3 {
  color: var(--color-main);
}

p {
  /* font-family: Rubik; */
  color: var(--color-text);
}

.itinerary,
.preparations,
.budget {
  width: 300px;
  border: 2px solid var(--color-accent);
}

h1,
h2,
h3 {
  font-family: "Fjalla One", sans-serif;
  font-style: normal;
  font-weight: 400;
}

a,
ul,
table {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
}

svg.icon {
  display: inline;
  height: 2em;
  width: 2em;
  vertical-align: top;
  fill: currentColor;
}
/* color combos: */
/* #495057
#8B0000
#006699 */
/* atomic steel blue #1a385a */
/* seagull blue #769abe
tomato orange #e46f44
pink shell #e8aa9b
plum violet #dcd5dc */
